html, body {
  height: 100%;
  width: 100%;
}
.frame1
{
background-color:#fafaff;
height:3000px;
width:1920px;
padding:0px;
left:0px;
top:0px;
position:relative;
}
.signupbutton
{
transform:rotate(-1deg);
width:264px;
height:89px;
top:45.99px;
left:1614px;
position:absolute;
}
.rectangle1
{
background-color:#273469;
height:89px;
width:264px;
transform:rotate(-1deg);
border-radius:15px;
top:46px;
left:1614px;
position:absolute;
}
.signup2
{
color:#e1e3ef;
transform:rotate(-1deg);
text-align:center;
vertical-align:text-middle;
font-size:30px;
font-family:Lora;
left:1614px;
top:46px;
width:264px;
height:89px;
position:absolute;
letter-spacing:10%;
line-height:auto;
}
.aboutus
{
color:#273469;
text-align:center;
vertical-align:text-middle;
font-size:60px;
font-family:Lora;
letter-spacing:10%;
line-height:auto;
top:496px;
left:1271px;
position:absolute;
width:475px;
}
.texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttextdescription
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:25px;
font-family:Lora;
letter-spacing:10%;
line-height:auto;
top:623px;
left:1306px;
position:absolute;
width:443px;
}
.image1
{
height:734px;
width:1073px;
left:111.99999999999989px;
top:234px;
position:absolute;
}
.imageplaceholder
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:25px;
font-family:Lora;
letter-spacing:10%;
line-height:auto;
top:423px;
left:404.99px;
position:absolute;
width:425px;
}
.image2
{
height:191px;
width:419px;
}
