.frame1
{
background-color:#fafaff;
height:2694px;
width:1440px;
padding:0px;
top:91px;
position:relative;
}
.rectangle1
{
background-color:#e4d9ff;
height:1815px;
width:1320px;
top:144px;
left:913px;
position:absolute;
}
.ellipse1
{
background-color:#273469;
height:95px;
width:95px;
top:36px;
left:1288px;
position:absolute;
border-radius:50%;
}
.buttontoprofile
{
height:85px;
width:85px;
left:2148px;
top:0px;
position:absolute;
}
.numberinput
{
height:139px;
width:404px;
left:1349px;
top:1157px;
position:absolute;
}
.datepicker
{
height:121px;
width:532px;
left:1280px;
top:489px;
position:absolute;
}
.whenwasyourlastperiod?
{
color:#273469;
text-align:center;
vertical-align:text-middle;
font-size:64px;
font-family:Lora;
line-height:auto;
top:237px;
left:1256px;
position:absolute;
width:591px;
}
.howmanydaysdidyourperiodlast?
{
color:#273469;
text-align:center;
vertical-align:text-middle;
font-size:64px;
font-family:Lora;
line-height:auto;
top:860px;
left:1280px;
position:absolute;
width:591px;
}
.towhatlevelofworkoutintensitydoyoulike?
{
color:#273469;
text-align:center;
vertical-align:text-middle;
font-size:64px;
font-family:Lora;
line-height:auto;
top:1503px;
left:1194px;
position:absolute;
width:715px;
}
.chipgroup
{
height:100px;
width:1016px;
left:1043px;
top:1800px;
position:absolute;
}
.skeletonbutton
{
height:247px;
width:526px;
left:1288px;
top:2107px;
position:absolute;
}
.calculateandupdate
{
color:#273469;
text-align:center;
vertical-align:text-middle;
font-size:64px;
font-family:Lora;
line-height:auto;
top:2184px;
left:1345px;
position:absolute;
width:412px;
}
.logo
{
height:100px;
width:398px;
left:890px;
top:0px;
position:absolute;
}
.frame1
{
background-color:#fafaff;
height:2694px;
width:1440px;
padding:0px;
position:absolute;
}
.ellipse1
{
background-color:#273469;
height:95px;
width:95px;
left:1288px;
top:36px;
position:absolute;
border-radius:50%;
}
.buttontoprofile
{
height:85px;
width:85px;
left:1293px;
top:41px;
position:absolute;
}
.logo
{
height:100px;
width:398px;
left:48px;
top:41px;
position:absolute;
}
.yourcalender
{
color:#1e2749;
text-align:center;
vertical-align:text-middle;
font-size:96px;
font-family:Lora;
left:180px;
top:118px;
width:1113px;
height:268px;
position:absolute;
line-height:auto;
}
.rectangle1
{
background-color:#e4d9ff;
height:881px;
width:1214px;
top:386px;
left:113px;
position:absolute;
}
.rectangle2
{
background-color:#273469;
height:45px;
width:1214px;
top:310px;
left:113px;
position:absolute;
}
.rectangle3
{
background-color:#273469;
height:45px;
width:1214px;
top:1298px;
left:113px;
position:absolute;
}
.yourworkoutstylesforthismonth!
{
color:#1e2749;
text-align:center;
vertical-align:text-middle;
font-size:64px;
font-family:Lora;
left:273px;
top:1403px;
width:895px;
height:142px;
position:absolute;
line-height:auto;
}
.arrow1
{
width:80px;
left:720px;
top:1591px;
position:absolute;
}
.rectangle4
{
background-color:#e4d9ff;
height:911px;
width:1137px;
top:1702px;
left:151px;
position:absolute;
}
.yourworkoutstylesforthismonth!2
{
color:#1e2749;
text-align:center;
vertical-align:text-middle;
font-size:64px;
font-family:Lora;
left:273px;
top:1403px;
width:895px;
height:142px;
position:absolute;
line-height:auto;
}
.week1:
{
color:#1e2749;
text-align:center;
vertical-align:text-middle;
font-size:36px;
font-family:Lora;
left:14px;
top:1760px;
width:496px;
height:60px;
position:absolute;
line-height:auto;
}
.week2:
{
color:#1e2749;
text-align:center;
vertical-align:text-middle;
font-size:36px;
font-family:Lora;
left:14px;
top:1972px;
width:496px;
height:60px;
position:absolute;
line-height:auto;
}
.week3:
{
color:#1e2749;
text-align:center;
vertical-align:text-middle;
font-size:36px;
font-family:Lora;
left:14px;
top:2184px;
width:496px;
height:60px;
position:absolute;
line-height:auto;
}
.week4:
{
color:#1e2749;
text-align:center;
vertical-align:text-middle;
font-size:36px;
font-family:Lora;
left:14px;
top:2413px;
width:496px;
height:60px;
position:absolute;
line-height:auto;
}
